@CHARSET "UTF-8";
	* {
		margin: 0; padding: 0;
	}
	
	li {
		list-style: none;
	}
	
	a {
		text-decoration: none;
	}
	
	img {
		border: 0;
	}
	table{
	color:#555;
    text-decoration: underline;
	}
	th { 
		text-align: left;
		width: 120px;
		padding-right: 5px;
		color: #ffffff;
		font-size: 12px;
		
		text-shadow: 2px 2px 10px #000000;
        filter: dropshadow(color=#000000, offx=2, offy=2);
	
	}
	
	th.list { 
		text-align: center;
		height: 30px;
		color: #ffffff;
		font-size: 12px;
		
		text-shadow: 2px 2px 10px #000000;
        filter: dropshadow(color=#000000, offx=2, offy=2);
		
	}
	
	th.content { 
		text-align: center;
		height: 20px;
		color: #ffffff;
		font-size: 12px;
		
		text-shadow: 2px 2px 10px #000000;
        filter: dropshadow(color=#000000, offx=2, offy=2);
				
	}


	
